<div data-container="true" id="block-export-excel" draggable="true" class="" ng-controller="ExportExcelController"> 
  <div class="component-holder ng-binding ng-scope"> 
    <div class="form-group"> 
    	<!-- 
		    eowtitles = title of table is array with alias
            eowdatasourcedata= datasource.data "json array"
            eowcolumnindex = index of column is array with keys
            eowfilename= file name 
    	 -->
		<button class="btn btn-success fa fa-file-excel-o""
		              ng-click="exportInExcel()"
		              eowtitles="{{['Enter your titles']}}"
		              eowdatasourcedata="{{datasource.data}}"
		              eowcolumnindex = ""
		              eowfilename="">
		              Excel
		</button>
		 
	</div>
  </div>
</div>